@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
html, body {
  background:white;
}

.intro-text{
  text-align: center;
  color:white;
}
 .jumbotron{
  background-image: url("/content/header.png");
  margin-bottom:0px; 
  background-repeat: no-repeat; 
  background-size: 100% 100%;
}

.intro-btn {
	display: inline-block;
	color:white;
	text-transform: uppercase;
	padding: 10px 20px;
	text-align: center;
	border: 2px solid white;
	font-size: 12px;
	line-height: 100%;
}

.modal-title,.modal-body{
  color:black;
}
.sectionHeading ,.subHeading {
	display: block;
  margin-bottom: 20px;
  position: center;
  margin-top: 2.5cm;
  text-align: center;
}
.subHeading{
  font-family: 'Kaushan Script', cursive;
  font-weight: 100;
  text-transform: initial;
}

.sectionHeading{
  font-weight: 700;
  text-transform: uppercase;
}



#intro .subHeading{
  font-size: 50px;
}
#intro .sectionHeading{
  font-size:100px;
}

/* What we do-story about us section */

.storyText{
  color:grey;
  margin-bottom: 2.5cm;
}

#story .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

#story .row::after {
  content: "";
  clear: both;
  display: table;
}


/*Counting Section*/

#counting {
	padding: 0;
	background: #87d8c9;
	font-family: 'Montserrat';
	text-align: center;
	text-transform: uppercase;
  font-size: 15px
}
#counting .item {
	width: 20%;
	padding: 60px 5px;
	border-right: 0.8px solid white;
}
#counting .row{
  margin-top:2.5cm;
  color:white;
}

#counting .number {
	font-size: 70px;
	font-weight: 900;
}


/*Amazing Services*/

#services .row{
  margin-bottom: 2.5cm;
  margin-top:2.5cm; 
}

/*Unique Desgin section*/
#design{
  background-image: url("/content/unique-design-bg.jpg");
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  margin-bottom: 2.5cm; 
  text-align: center;
  position: relative;
}

#design .devices .mobile {
  position: absolute;
  left:57%;
  top: 47%;
}

//Service section


.service-bilde{
  position: absolute;
}

.accordion{
  height: 560;
  max-width: 380;
  position: relative;
  left:17cm;

}

//accordion

.jquery_accordion_item {
	width: 50%;
	border-bottom: 1px solid #ccc;
}
.jquery_accordion_title {
  font-size: 14px;
  text-transform: uppercase;
	color:grey;
	line-height: 140%;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}
.jquery_accordion_title:after {
	content: "";
	width: 0;
	height: 0;
	display: inline-block;
	position: absolute;
	left:500px;
	top: 50%;
	border: 6px solid transparent;
	border-top-color: #333;
	transition: border 400ms, margin 400ms;
	margin-top: -3px; 
}

.jquery_accordion_item.active .jquery_accordion_title:after {
	border-color: transparent;
	border-bottom-color: #333;
	margin-top: -9px; /* fixing arrow position */
}
.jquery_accordion_content {
	color:grey;
}


//dette er for our team

#OurTeam .info {
	margin-top: 35px;
  text-align: center;
  color: grey;
}
#OurTeam .name {
	font-size: 14px;
  margin: 0 0 5px;
  color: grey;
}
#OurTeam .regency {
	font-style: italic;
}


//testimonials section

#testimonials .container{
  margin-top: 2.5cm;  
  background: #f8f8f8;
	padding: 60px 0px;
}
#testimonials .quote {
  font-size: 17px;
  color: grey;
}
.name {
  font-size: 24px;
  color:black;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

//ourWork
#ourWork .img{
  width:100%;

}

#ourWork .column{
  width: 25%;
}
  
//clients

#clients{
  background-image: url("/content/unique-design-bg.jpg");
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  margin-bottom: 2.5cm; 
  text-align: center;
  position: relative;
}

#clients .avatar {
	width: 80px;
	margin-right: 30px;
}

#clients .name {
	font-size: 14px;
}
#clients .regency {
	position: relative;
	padding-bottom: 12px;
	display: inline-block;
	font-style: italic;
	margin-bottom: 12px;
}

//blogging.

#blog .column {
  width: 33.33%;
  padding: 5px;
}

#blog .articleTitle{
  font-size: 4;
  color:grey;
}

#blog .articleDesc{
  color:grey;
}

#blog .articleThumb{
  position: relative;
	margin-bottom: 20px;
}
#blog .date{
  position: absolute;
	background: #95e1d3;
	left: -10px;
	bottom: 5px;
	padding: 10px 15px;
	color: #fff;
  text-align: center;
}

#blog .number {
	display: block;
	font-size: 20px;
	line-height: 100%;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
#blog.text {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
}


#lastPage .footerLogo{
  margin-top: 0.5cm;
  color: #ccc;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 20px;
	line-height: 100%;
}

#lastPage .text {
	font-style: italic;
	font-weight: 300;
	display: inline-block;
	margin-right: 10px;
}

#lastPage .nino-colHeading {
  font-size: 20px;
  color:grey;
  margin-bottom: 0.6cm;
  margin-top: 0.2cm;
}


.sectionPadding{
  padding-top: 25px; 
}